@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.main {
  background: linear-gradient(150deg, #00363b 13%, #007672 50%, #009479 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

/* Container do título + ícone */
.title-container {
  display: flex;
  align-items: center; /* Alinha verticalmente */
  gap: 0.8rem;         /* Espaço entre ícone e título */
  margin-bottom: 2rem; /* Espaço para o router-outlet */
}

/* Ajuste do tamanho do ícone */
.title-container .logo {
  width: 100px;   /* Reduz o tamanho */
  height: 100px;  /* Mantém proporção */
}

/* Estilo específico para o título */
.title-container h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

#TituloPrincipal{
 opacity: 95%;
}
